body {
  width: 300px; /* Increase width */
  font-family: sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#selectedText {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
